  <div class="login-page">
    <div class="form">
      <main class="form-signin">
        <form action="/login" method="POST">
          <a class="mdb-logo" href="/"><img src="/images/logo.png" alt="mbd-logo" style="width:150px;height:75px"></a>
          <h1 class="h3 mb-3 fw-normal">Please Login</h1>

          <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>

          <div class="checkbox mb-3">
            <br>
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
          <br>
          <br>
          <p>Don't have an account? Sing up <a href="/signup">here</a></p>

          <p class="mt-5 mb-3 text-muted">© 2021</p>
        </form>
      </main>
    </div>
  </div>


{{!-- *****ORIGINAL FORM******

<h2>Login</h2>
<form action="/login" method="POST">
  <label>Username</label>
  <input type="text" name="username" required>

  <label>Password</label>
  <input type="password" name="password" required>

  <button type="submit">login</button>
</form>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}

<p>
  Don't have an account? Sing up <a href="/signup">here</a>
</p> --}}
