<style>
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

</style>

<h1>Movies List</h1>

    <div class="row">
  {{#each moviesArray}}
      <div class="col-md-4">
        <ul>
          <li>
            <h5><a href="/movies/{{imdbid}}">
            {{title}}
            </a></h5> 
          </li>
          <img src="{{poster}}" />
        </ul>
      </div>
  {{/each}}
    </div>
    <br>

