<style>
  .text-center{
    height: 300px;
  }

  .button {
    margin-top: 150px;
  }
  
</style>

<h1>Search Movies</h1>

<form action="/movies" method="GET">
  <input type="text" name="theMovieTitle" placeholder="Search for a movie">
  <button class="button" type="submit">Search</button>
</form>
