body {
  font-family: Helvetica;
  background-color: #141414;
}

html {
  margin: 0;
}

a {
  color: #00B7FF;
}

.container {
  background-color: #141414;
  padding: 0;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

/*            NAVBAR           */
.nav-pic img{
  border-radius: 100px;
  width: 45px;
}
.nav-pic{
  padding: 0;
  margin-right: 5px;
}

.nav-pic-ul{
  margin: 0;
}

.search-bar{
  width: 800px;
}

.me-2{
  background-color: #2A2C32;
  border: solid 1px #0B5ED7;
}
.form-control {
  margin-top: 0px !important;
}


/*             BODY             */
.text-center{
  background-color: #141414;
  color: white;
}
.text-center a{
  color: white !important;
}

/*             FOOTER              */
.footer{
  /* margin-top: 50px ; */
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  background-color: #2A2C32;
}

.footer ul{
  list-style-type: none;
  line-height: 40px;
}

.footer a{
  text-decoration: none;
  color: white;
}

.list{
  text-decoration: none;
  text-align: left;
}

.list :hover{
  color: #0B5ED7;
}
.newsletter {
  line-height: 40px;
}

.newsletter-btn{
  color: white;
  background-color: #0B5ED7;
  border-radius: 5px;
  padding: 10px 15px;
}

.fa {
  margin-left: 10px;
  margin-right: 10px;
}

.follow a :hover{
  color: #0B5ED7;
}

/* Log in & sign in form  */
.form-signin{
  width: 300px;
  margin: 0 auto;
}

.form-control {
  margin-top: 5px;
}


.login-page{
  background-image: url(../images/best-movies.jpg);
  background-size: cover;
  background-position: 50% 0%;
  height: 725px;
  width: 100%;
}

.form{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 400px;
  width: 350px;
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  top: 200px;
  left: 585px;
}
.checkbox{
  color: white;
}
.form label{
  color: gray;
}
::placeholder{
  color: black;
}
/* Info Card*/
.card-title{
  font-size: 30px;
  font-weight: bold;
}

/* COMMENTS */
.card{
  width: 1000px;
  text-align: left;
  background-color: #141414;
}
.comment-text{
  text-align: left;
}

.card-no-border .card {
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem
}

.comment-widgets .comment-row:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer
}

.comment-widgets .comment-row {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  padding: 15px
}

.comment-text:hover {
  visibility: hidden
}

.comment-text:hover {
  visibility: visible
}

.label {
  padding: 3px 10px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%
}

.round img {
  border-radius: 100%
}

.label-info {
  background-color: #1976d2
}

.label-success {
  background-color: green
}

.label-danger {
  background-color: #ef5350
}

.action-icons a {
  padding-left: 7px;
  vertical-align: middle;
  color: #99abb4
}

.action-icons a:hover {
  color: #1976d2
}

.mt-100 {
  margin-top: 100px
}

.mb-100 {
  margin-bottom: 100px
}

/* LOGO */  
.mdb-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* MOVIE LIST IMAGE EFECT */

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle h5{
  position: relative;
  bottom: 500px;
  left: 225px;
}
.middle button{
  position: relative;
  bottom: 250px;
  left: 220px;
}

.image-efect:hover .image {
  opacity: 0.3;
}

.image-efect:hover .middle {
  opacity: 1;
}

.text {
  /* background-color: #04AA6D; */
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}



